<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} | InkFlow</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>navbar}}
    <main class="container">
        {{#if error}}
        <div class="alert">{{error}}</div>
        {{/if}}

        {{{body}}}
    </main>
    {{>footer}}
</body>

</html>